# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vscode
.vscode

# testing
coverage

# parcel 
.parcel-cache


# dependencies
node_modules
.pnp
.pnp.js
yarn-debug.log*
yarn-error.log*
npm-debug.log*
.yarn/cache
.yarn/install-state.gz
.yarn/build-state.yml



# misc
.DS_Store
debug.log

# env
.env*

# build
dist


# scout public folder

/packages/scout/public/*
!/packages/scout/public/robots.txt
!/packages/scout/public/scout.png


# scout stuff


cypress/screenshots
cypress/videos