# Env vars for development

# ------------------ environment

PROJECT_NAME=scout_development

# scout url
REACT_APP_SITE_URL=

# outpost api url (http://localhost:3001/api/v1)
REACT_APP_API_HOST=

# outpost url (http://localhost:3000/api/v1)
REACT_APP_FILTERS_DATASOURCE=

# if you're using the directories feature in outpost, this will limit your requests to a one or more directories
REACT_APP_TARGETS=

# ------------------ theme

# generic, bfis, bod, tvvru
REACT_APP_THEME=

# ------------------ features

# allows feedback to be sent on services
REACT_APP_OUTPOST_URL=

# feedback url in footer
REACT_APP_FEEDBACK_URL=

# outpost or login information page url in footer
REACT_APP_OUTPOST_LOGIN_URL=

# outpost or registration information page url in footer
REACT_APP_OUTPOST_REGISTER_URL=

# google analytics
REACT_APP_GA_PROPERTY_ID=


# ------------------ google maps/apis

#  
REACT_APP_GOOGLE_STATIC_MAPS_API_KEY=

#  
REACT_APP_GOOGLE_CLIENT_KEY=



# ------------------ serverless email function

# scout url  
EMAIL_HOST=

# template id in govnotify
NOTIFY_TEMPLATE_ID=

# api key in govnotify
NOTIFY_API_KEY=

